.window {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    font-weight: 400;
    color: white;
}

.fz70 {
    font-size: 7rem;
}

.fz45 {
    font-size: 4.5rem;
}

.fz30 {
    font-size: 3rem;
}